---
---

@import "{{ site.theme }}";

header {
  width:270px;
  float:top;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:500px;
  float:center;
  padding-bottom:50px;
}

body {
  background-color: #fff;
  padding:10px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
